# Compiled object files
*.o
*.obj

# Static & dynamic libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

# CMake build directories
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/build/
/out/
/bin/
/lib/

# Make build artifacts
*.d

.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*~
*.swp